<main class="MenuPageMain">
  <article>
    <h1 class="TodoPage-title">Menu</h1>

    <%= render partial: "menu-section", locals:{
      section_title: "Juice",
      menus: Menu.juice
    } %>

     <%= render partial: "menu-section", locals:{
      section_title: "Starters",
      menus: Menu.starters
    } %>

    <%= render partial:"menu-section", locals:{
      section_title: "Desserts",
      menus: Menu.dessert
    } %>


  </article>
</main>
