<main class="MenuPageMain">
<div class="row">

    <h1 class="MenuPage-title">Menu Maintainance Page</h1>
        <%= render partial: "menu-section", locals:{
          section_title: "Juice",
          menus: Menu.all.order(:name).juice
        } %>

        <%= render partial: "menu-section", locals:{
          section_title: "Starters",
          menus: Menu.all.order(:name).starters
        } %>

        <%= render partial:"menu-section", locals:{
          section_title: "Desserts",
          menus: Menu.all.order(:name).dessert
        } %>

  </div>
</main>
